.gitattributes !filter !diff

*.key filter=git-crypt diff=git-crypt
secret/* filter=git-crypt diff=git-crypt

gnupg/** filter=git-crypt diff=git-crypt

urls filter=git-crypt diff=git-crypt
.zshenv filter=git-crypt diff=git-crypt
