#NOTE: When completed move to ~/.config/systemd/user/ or /etc/systemd/system
#Enable with systemctl --user daemon-reload/enable
[Unit]
Description=My Miscellaneous Service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=no
User=wynand
#Unneeded if going in .config/systemd, but do need if going in /etc/systemd/system
Group=users
#Unneeded if going in .config/systemd, but do need if going in /etc/systemd/system
WorkingDirectory=/home/wynand
Environment=<++>
#Set any enviroment variables you might need
ExecStart=<++>
ExecReload=<++>
ExecStop=killall -9 <++>
Restart=on-failure
# Other restart options: no, on-failure, on-abort, always

[Install]
WantedBy=multi-user.target

#Type=simple (default): systemd considers the service to be started up immediately. The process must not fork. Do not use this type if other services need to be ordered on this service, unless it is socket activated.
#Type=forking: systemd considers the service started up once the process forks and the parent has exited. For classic daemons use this type unless you know that it is not necessary. You should specify PIDFile= as well so systemd can keep track of the main process.
#Type=oneshot: this is useful for scripts that do a single job and then exit. You may want to set RemainAfterExit=yes as well so that systemd still considers the service as active after the process has exited.
#Type=notify: identical to Type=simple, but with the stipulation that the daemon will send a signal to systemd when it is ready. The reference implementation for this notification is provided by libsystemd-daemon.so.
#Type=idle: systemd will delay execution of the service binary until all jobs are dispatched. Other than that behavior is very similar to Type=simple.
