[Unit]
Description=Downloads new mail and sorts with notmuch
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=mbsync -an && /home/wynand/.config/notmuch/notmuch_hook.sh
Restart=on-failure
Environment='GNUPGHOME=/home/wynand/.config/gnupg' 'XDG_CONFIG_HOME=/home/wynand/.config'

[Install]
WantedBy=multi-user.target
