#NOTE: When completed move to ~/.config/systemd/user/ or /etc/systemd/system
#Enable with systemctl --user daemon-reload/enable
[Unit]
Description=Rotate wallpaper once a day
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=no
WorkingDirectory=/home/wynand
Environment=DISPLAY=:0.0
ExecStart=/bin/zsh -c "source /home/wynand/.config/zsh/.zshenv && /home/wynand/git/agendrum/agendrum.py && xwallpaper --center /tmp/wallpaper.png"
Restart=no

[Install]
WantedBy=multi-user.target
