/* {
 https://github.com/autom4il/dotfiles/blob/main/waybar/style.css
  --black: #282c34;
  --white: #abb2bf;
  --light-red: #e06c75;
  --dark_red: #be5046;
  --green: #98c379;
  --light_yellow: #e5c07b;
  --dark_yellow: #d19a66;
  --blue: #61afef;
  --magenta: #c678dd;
  --cyan: #56b6c2;
  --dark_grey: #4b5263;
  --light_grey: #5c6370;
}
*/

* {
  border: none;
  border-radius: 2px;
  font-family: "CaskaydiaCove Nerd Font Propo";
  font-size: 16px;
  /* margin: 0 3px; */
  /* padding: 0 9px; */
}

window#waybar {
  background: #282c34;
  color: #abb2bf;
}

#workspaces button.urgent {
  color: #5c6370;
  background: #e06c75;
}

#workspaces button {
  color: #5c6370;
}

#workspaces button.active {
  color: #61afef;
}

/* It works top to bottom and sticks with the last found one */

/* blue */
#custom-weather.blue {
  border-bottom: 3px solid #61afef;
}

/* grey */
#wireplumber.muted,
#clock,
#backlight,
#custom-netspeed.bi,
#custom-todo {
  border-bottom: 3px solid #5c6370;
}

/* green */
#wireplumber,
#custom-weather.green,
#custom-updates.green,
#custom-vpn.connected,
#custom-cpu_temp.green,
#custom-mem.green,
#custom-wifi.green,
#custom-netspeed.Ki,
#custom-battery.charging,
#custom-battery.full,
#custom-cpu_usage.green {
  border-bottom: 3px solid #98c379;
}

/* yellow */
#custom-cpu_temp.yellow,
#custom-weather.yellow,
#custom-updates.yellow,
#custom-battery.discharging,
#custom-mem.yellow,
#custom-wifi.yellow,
#custom-cpu_usage.yellow {
  /* border-bottom: 3px solid #e5c07b; */
  border-bottom: 3px solid #d19a66;
}

/* orange */
#custom-cpu_temp.orange,
#custom-weather.orange,
#custom-mem.orange,
#custom-cpu_usage.orange {
  border-bottom: 3px solid #d19a66;
}

/* red */
#custom-netspeed.Mi,
#custom-weather.red,
#custom-vpn.disconnected,
#custom-updates.red,
#custom-cpu_temp.red,
#custom-mem.red,
#custom-wifi.red,
#custom-cpu_usage.red {
  border-bottom: 3px solid #e06c75;
}
