#NOTE: Must be named the same as the service it controls
[Unit]
Description=Run foo weekly and on boot

[Timer]
OnCalendar=*-*-* *:0..59/15:*
#Runs every 15mins
#use 'systemd-analyze calendar "text" to validate text
#can be minutely, hourly etc

[Install]
WantedBy=timers.target
