-----------------------------
--- SETTINGS FOR LSP-ZERO ---
-----------------------------
-- https://lsp-zero.netlify.app/v3.x/tutorial.html
------------------------------------------------------------------
local Plugin = { 'VonHeikemen/lsp-zero.nvim' }
------------------------------------------------------------------

Plugin.branch = 
Plugin.lazy = true
Plugin.dependencies = {
	{ 'neovim/nvim-lspconfig' },
	{ 'L3MON4D3/LuaSnip' },    -- For custom snippets
}

Plugin.config = function()
    --- Anything in opts = {} goes in here instead
end

Plugin.init = function()
    -- Disable automatic setup, we are doing it manually
    vim.g.lsp_zero_extend_cmp = 0    -- See ./completion.lua
    vim.g.lsp_zero_extend_lspconfig = 0    -- see ./lsp.lua
end

------------------------------------------------------------------
return Plugin
------------------------------------------------------------------
